@use 'decorators.scss';
@use 'app.scss';
@use 'cards.scss';

$text-color: #ffffff;
$margin-med: 1rem;

body {
  margin: $margin-med;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  color: $text-color;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: url(../assets/img/background.png), rgb(24, 24, 24);

  a {
    color: $text-color;

    &:visited {
      color: $text-color;
    }
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

nav {
  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    list-style-type: none;
    padding-inline-start: 0;
    margin-top: 0;

    li {
      margin: 0 1rem 0;
      
      a {
        text-decoration: none;

        &.active {
          text-decoration: underline;
        }
      }
    }
  }
}

.page-wrapper {
  width: 100%;
}
